<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Thông tin đơn hàng mới từ khách hàng {{Tenkhachhang}}</title>
</head>
<body>
    <div>
        Thông tin đơn hàng mới từ khách hàng {{Tenkhachhang}} <br />
         {{TenSP}} 
    <br />  SĐT : {{Phone}} <br />
        Email : {{Email}} <br />
        Địa chỉ : {{Address}} <br />
        Tổng tiền : {{Tongtien}} VNĐ <br />
    </div>
</body>
</html>
